.navofbootstrap {
    background-color: black !important;
}

.ee {
    visibility: hidden;
}

.BermWorld {
    /* initial-letter-align: url(https://images.unsplash.com/photo-1614852206732-6728910dc175?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cHVycGxlJTIwZ3JhZGllbnR8ZW58MHx8MHx8&w=1000&q=80) !important; */
    color: rgb(67, 252, 239) !important;
}

.BermWorld:hover {
    /* initial-letter-align: url(https://images.unsplash.com/photo-1614852206732-6728910dc175?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cHVycGxlJTIwZ3JhZGllbnR8ZW58MHx8MHx8&w=1000&q=80) !important; */
    color: white !important;
}

.BermWorl {
    /* initial-letter-align: url(https://images.unsplash.com/photo-1614852206732-6728910dc175?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cHVycGxlJTIwZ3JhZGllbnR8ZW58MHx8MHx8&w=1000&q=80) !important; */
    color: rgb(207, 250, 250) !important;
}

.BermWorl:hover {
    /* initial-letter-align: url(https://images.unsplash.com/photo-1614852206732-6728910dc175?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cHVycGxlJTIwZ3JhZGllbnR8ZW58MHx8MHx8&w=1000&q=80) !important; */
    color: rgb(67, 252, 239) !important;
}

.BermWor {
    /* initial-letter-align: url(https://images.unsplash.com/photo-1614852206732-6728910dc175?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cHVycGxlJTIwZ3JhZGllbnR8ZW58MHx8MHx8&w=1000&q=80) !important; */
    color: rgb(207, 250, 250) !important;
}

.BermWor:hover {
    /* initial-letter-align: url(https://images.unsplash.com/photo-1614852206732-6728910dc175?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cHVycGxlJTIwZ3JhZGllbnR8ZW58MHx8MHx8&w=1000&q=80) !important; */
    color: rgb(67, 252, 239) !important;
}

.BermWo {
    /* initial-letter-align: url(https://images.unsplash.com/photo-1614852206732-6728910dc175?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cHVycGxlJTIwZ3JhZGllbnR8ZW58MHx8MHx8&w=1000&q=80) !important; */
    color: rgb(207, 250, 250) !important;
}

.BermWo:hover {
    /* initial-letter-align: url(https://images.unsplash.com/photo-1614852206732-6728910dc175?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cHVycGxlJTIwZ3JhZGllbnR8ZW58MHx8MHx8&w=1000&q=80) !important; */
    color: rgb(67, 252, 239) !important;
}

.BermW {
    /* initial-letter-align: url(https://images.unsplash.com/photo-1614852206732-6728910dc175?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cHVycGxlJTIwZ3JhZGllbnR8ZW58MHx8MHx8&w=1000&q=80) !important; */
    color: rgb(207, 250, 250) !important;
}

.BermW:hover {
    /* initial-letter-align: url(https://images.unsplash.com/photo-1614852206732-6728910dc175?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cHVycGxlJTIwZ3JhZGllbnR8ZW58MHx8MHx8&w=1000&q=80) !important; */
    color: rgb(67, 252, 239) !important;
}

.lastimgofheader {
    margin-top: 6px !important;
    border: 2px solid black;
    border-radius: 20px;
}

.lastimgofheader:hover {
    margin-top: 6px !important;
    border: 3px inset darkturquoise;
    background-color: cyan;
    border-radius: 20px;
}

.bodyone {
    background-image: url(https://cdn-media-2.freecodecamp.org/w1280/5f9c9cfc740569d1a4ca3543.jpg);
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.headinginboyone {
    font-size: 38px;
    text-align: center;
    font-weight: 700;
    padding: 50px;
    color: white;
}

.firstimgofbodyone {
    margin: 20px 0px 0px 20px;
    width: 300px;
    border: 1px solid black;
    border-radius: 15px;

}

.secimgofbodyone {
    margin: 20px 0px 0px 20px;
    width: 300px;
    border-radius: 15px;

}

.ss {
    width: 300px !important;
}

.line {
    font-size: 35px;
    margin-top: 50px;
    margin-left: 10px;
    color: rgb(160, 159, 159);
}

.line:hover {
    font-size: 35px;
    margin-top: 50px;
    margin-left: 10px;
    color: rgb(67, 252, 239);
}

.secimg {
    margin-top: -6px;
    margin-left: 10px;
}

.Collections {
    margin-left: 25px;
    margin-top: 20px;
    color: grey;
    font-size: 20px;
    font-weight: bold;
}

.Volume {
    margin-left: 220px;
    margin-top: 20px;
    color: grey;
    font-size: 20px;
    font-weight: bold;
}

.Floor-Price {
    margin-left: 180px;
    margin-top: 20px;
    color: grey;
    font-size: 20px;
    font-weight: bold;
}

.Items {
    margin-left: 180px;
    margin-top: 20px;
    color: grey;
    font-size: 20px;
    font-weight: bold;
}

.boyimgnyoling {
    width: 80px;
    border: 2px solid palegoldenrod;
    border-radius: 60px;
    margin: 30px 0px 0px 20px;
}

.Nyolings {
    margin-left: 30px;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    top: 19px;
}

.ETHone {
    margin-left: 123px;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    top: 19px;
}

.ETHtwo {
    margin-left: 133px;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    top: 19px;
}

.img {
    margin-left: 180px;
    width: 70px;
    position: relative;
    top: 13px;
}
.image{
    position: relative;
    top: 13px;
    margin-left: -2px;
    width: 70px;
}
/* .bodytwo{ */
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmw9pVRhHzHsyti_1FoUNcECTc28E2jUPGbbrDOGMBFrJCFiWU8pmL&usqp=CAU); */
     /* background-attachment: fixed;
    height: 100vh;
    width: 100%; */
/* }  */
